/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1062px;
  margin: 0 auto;
}

.header {
  color: white;
  background: url(../imgs/bg-image.png) center/cover no-repeat;
}
.header .flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 744px;
}
@media screen and (max-width: 480px) {
  .header .flex-wrapper {
    display: block;
    min-height: 444px;
  }
}
.header .navbar {
  margin: 10px 0 80px;
}
@media screen and (max-width: 480px) {
  .header .navbar {
    display: block;
    margin: 0 10px 50px;
  }
}
.header .navbar-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .header .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.header .navbar-nav .nav-item {
  padding: 0 45px;
}
@media screen and (max-width: 768px) {
  .header .navbar-nav .nav-item {
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .header .navbar-nav .nav-item {
    padding: 0 10px;
  }
}
.header .navbar-nav .nav-link {
  color: white;
}
.header .navbar-nav .nav-link__text {
  opacity: 0.8;
  padding: 0 0 5px;
}
.header .navbar-nav .nav-link__text:hover {
  opacity: 1;
  border-bottom: white 1px solid;
}
.header .navbar-nav .nav-item-menu {
  display: none;
}
@media screen and (max-width: 480px) {
  .header .navbar-nav .nav-item-menu {
    display: inline-block;
  }
}
.header .navbar-nav .nav-item-menu img {
  filter: brightness(0) invert(1);
  opacity: 0.8;
  width: 40px;
}
.header .navbar-nav .nav-item-menu img:hover {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .header .navbar-nav .nav-item-hide {
    display: none;
  }
}
.header .header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 90px;
}
.header .header__wrapper .header__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header .header__wrapper .header__title {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .header .header__wrapper .header__title {
    font-size: 25px;
  }
}
.header .header__wrapper .header__text {
  max-width: 55%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 768px) {
  .header .header__wrapper .header__text {
    font-size: 14px;
    line-height: 140%;
  }
}
@media screen and (max-width: 480px) {
  .header .header__wrapper .header__text {
    font-size: 12px;
  }
}
.header .navbar__social {
  flex-direction: column;
  width: 60%;
}
@media screen and (max-width: 480px) {
  .header .navbar__social {
    margin: 0 auto;
    padding-bottom: 40px;
  }
}
.header .navbar__social .nav-item {
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .header .navbar__social .nav-item {
    padding: 0 10px;
  }
}
.header .navbar__social .nav-item {
  transition: 300ms;
}
.header .navbar__social .nav-item:hover {
  transform: scale(1.5);
}

.btn {
  padding: 15px 47px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  background-color: #00afdb;
  transition: 300ms;
}

.btn:hover {
  background-color: #009cc2;
}

.btn-primary {
  --bs-btn-hover-bg: #009cc2;
}

.represent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 118px 0;
}
@media screen and (max-width: 768px) {
  .represent {
    margin: 50px 0;
    justify-content: space-around;
    text-align: center;
  }
}

.content {
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .content {
    max-width: 70%;
  }
}

.content__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}
@media screen and (max-width: 768px) {
  .content__title {
    font-size: 20px;
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  .content__title {
    font-size: 14px;
    line-height: 16px;
  }
}

.content__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}
@media screen and (max-width: 480px) {
  .content__text {
    font-size: 12px;
    line-height: 140%;
  }
}

.bg-community {
  background-color: #f5f6f7;
  padding: 130px 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .bg-community {
    padding: 50px 0;
  }
}

.community {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .community {
    justify-content: space-around;
  }
}
.community .community-card {
  flex-basis: 28%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .community .community-card {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .community .community-card {
    flex-basis: 80%;
    margin-bottom: 20px;
  }
}
.community .community-card .card__img {
  max-width: 45px;
  margin-bottom: 20px;
}
.community .community-card .card__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}
.community .community-card .card__text {
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}
.community .slider {
  flex-basis: 70%;
}
@media screen and (max-width: 768px) {
  .community .slider {
    flex-basis: 100%;
  }
}
.community .slider .slider__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  right: 0;
  top: -54px;
}
@media screen and (max-width: 768px) {
  .community .slider .slider__pagination {
    position: static;
    margin-bottom: 20px;
  }
}
.community .slider .slider__pagination img {
  min-height: 16px;
}
.community .slider .slider__pagination img:hover {
  opacity: 0.5;
}
.community .slider .slider__pagination .slider__text {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 14px;
  font-size: 18px;
  line-height: 100%;
  color: #373737;
}
.community .slider .slider__images {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  left: 400px;
}
@media screen and (max-width: 768px) {
  .community .slider .slider__images {
    left: 0;
  }
}
.community .slider .slider__images .slider__image {
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .community .slider .slider__images .slider__image {
    max-width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .community .slider .slider__images .slider__image {
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .community .slider .slider__images .slider__image:last-child {
    margin-right: 0;
  }
}

.implement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 142px 0;
}
@media screen and (max-width: 768px) {
  .implement {
    margin: 50px 0;
    justify-content: space-around;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .implement .content {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.bg-sign-up {
  background: url(../imgs/pexels-christina-morillo.png) center/cover no-repeat;
  padding: 200px 0 220px;
}
@media screen and (max-width: 768px) {
  .bg-sign-up {
    padding: 100px 0 120px;
  }
}
@media screen and (max-width: 480px) {
  .bg-sign-up {
    padding: 50px 0 60px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.sign-up .content__title {
  margin-bottom: 30px;
  color: white;
}
@media screen and (max-width: 480px) {
  .sign-up .content__title {
    font-size: 16px;
  }
}
.sign-up .input-group {
  max-width: 40%;
}
@media screen and (max-width: 992px) {
  .sign-up .input-group {
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .sign-up .input-group {
    max-width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .sign-up .input-group {
    max-width: 90%;
  }
}
.sign-up .input-group .form-control {
  padding: 10px 0 10px 24px;
  border-radius: 0;
}
.sign-up .input-group .form-control::-moz-placeholder {
  opacity: 0.5;
}
.sign-up .input-group .form-control:-ms-input-placeholder {
  opacity: 0.5;
}
.sign-up .input-group .form-control::placeholder {
  opacity: 0.5;
}
.sign-up .input-group .btn {
  padding: 0;
  width: 66px;
  height: 46px;
  color: #00afdb;
}

.bg-download {
  background-color: #f5f6f7;
  padding: 120px 0 180px;
}
@media screen and (max-width: 768px) {
  .bg-download {
    padding: 80px 0 100px;
  }
}
@media screen and (max-width: 480px) {
  .bg-download {
    padding: 50px 0 50px;
  }
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.download .content__text {
  max-width: 46%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .download .content__text {
    max-width: 80%;
  }
  .download .content__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.download .btn {
  position: relative;
  margin-right: 30px;
  padding: 15px 77px 15px 17px;
}
@media screen and (max-width: 480px) {
  .download .btn {
    margin-right: 0;
  }
}
.download .btn:last-child {
  margin: 10px 0;
}
.download .btn:first-child::after {
  content: "";
  display: inline-block;
  background: #009cc2 url(../imgs/svg/btn-store-icon-apple.svg) no-repeat center;
  width: 59px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
}
.download .btn:nth-child(2)::after {
  content: "";
  display: inline-block;
  background: #009cc2 url(../imgs/svg/btn-store-icon-android.svg) no-repeat center;
  width: 59px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  color: white;
}
.footer .bg-footer {
  background-color: #000000;
  padding: 60px 0 80px;
}
@media screen and (max-width: 768px) {
  .footer .bg-footer {
    padding: 40px 0 60px;
  }
}
@media screen and (max-width: 480px) {
  .footer .bg-footer {
    padding: 20px 0 30px;
  }
}
.footer .navbar {
  display: block;
}
.footer .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.footer .navbar-nav .nav-item:nth-child(4) {
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .footer .navbar-nav .nav-item:nth-child(4) {
    flex-grow: 0;
  }
}
.footer .navbar-nav .nav-item__img {
  text-align: center;
  margin-right: 130px;
}
@media screen and (max-width: 768px) {
  .footer .navbar-nav .nav-item__img {
    margin-right: 0;
    padding-bottom: 20px;
  }
}
.footer .navbar-nav .nav-link {
  margin-right: 40px;
  color: white;
}
@media screen and (max-width: 768px) {
  .footer .navbar-nav .nav-link {
    margin-right: 0;
    margin-bottom: 5pxpx;
  }
}
.footer .navbar-nav .nav-link__text {
  opacity: 0.8;
  padding: 0 0 5px;
}
.footer .navbar-nav .nav-link__text:hover {
  opacity: 1;
  border-bottom: white 1px solid;
}
.footer .navbar-nav .nav-item__text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 140%;
  color: #818181;
}/*# sourceMappingURL=style.css.map */